.view-card__bottom-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: #383b47;
    border-radius: 0 0 5px 5px;
    padding: 0.5rem;
    font-size: 0.65rem;
}


.view-card__bottom-section>div {
    padding: 0.5rem;
    width: 100%;
}

.view-card__bottom-section>div>p {
    margin: 0;
    padding: 3px;
}

.view-card__bottom-section>div:nth-child(1) {
    text-align: left;
    padding-bottom: 1rem;
}

.view-card__bottom-section>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.view-card__bottom-section>div:nth-child(2)>img {
    margin: 10px 0;
    height: 1.3rem;
    width: 1.3rem;
}

.view-card__bottom-section>div:nth-child(2) {
    border-left: 1.5px solid grey;
    border-right: 1.5px solid grey;
    text-align: center;
    padding: 0.4rem 0;
}

.view-card__bottom-section>div:nth-child(3) {
    text-align: right;
    padding-top: 1rem;
}

.view-card__bottom-section span {
    font-weight: bold;
}



/* For Medium Mobile Phones */
@media (min-width: 576px) {

    .view-card__bottom-section {
        font-size: 0.7rem;
        padding: 0.8rem;
    }


    .view-card__bottom-section>div {
        padding: 0;
    }

    .view-card__bottom-section>div>p {
        margin: 0;
        padding: 3px;
    }

    .view-card__bottom-section>div:nth-child(1) {
        padding: 0;
        text-align: left;
    }

    .view-card__bottom-section>div:nth-child(2) {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .view-card__bottom-section>div:nth-child(2)>img {
        margin: 10px 0;
        height: 1.6rem;
        width: 1.6rem;
    }

    .view-card__bottom-section>div:nth-child(2) {
        border-top: none;
        border-bottom: none;
        border-left: 1.5px solid grey;
        border-right: 1.5px solid grey;
        text-align: center;
    }

    .view-card__bottom-section>div:nth-child(3) {
        padding: 0;
        text-align: right;
    }

    .view-card__bottom-section span {
        font-weight: bold;
    }

}

/* For Tablets & Laptops */
@media (min-width: 768px) {
    .view-card__bottom-section {
        font-size: 0.9rem;
        padding: 0.8rem;
    }

}

/* For Laptops */
@media (min-width: 992px) {
    .view-card__bottom-section {
        padding: 1rem;
    }
}


/* For Large screens */
@media (min-width: 1200px) {
    .view-card__bottom-section {
        padding: 1.2rem;
    }
}