.weather-card__top-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.4rem;
    color: white;
    font-size: 0.7rem;
    border-radius: 5px 5px 0 0;
    background-image: url(../images/cloud_bg.png);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.weather-card__top-section>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

.weather-card__top-section p,
.weather-card__top-section span {
    font-size: 0.7rem;
}

.weather-card__top-section>div:nth-child(1)>* {
    padding: 0;
    text-align: center;
}

.weather-card__top-section>div:nth-child(1)>h2 {
    padding: 0;
    font-size: 1rem;
    margin: 0;
}



div.weather-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

div.weather-status>img {
    height: 3.2rem;
    width: 3.2rem;
}


.temperature>h2 {
    font-size: 1.6rem;
    font-weight: normal;
    margin: 0;
}

.temperature>p {
    padding: 3px 0;
}

span.updated-time {
    margin: 0.2rem 0;
}

/* For Medium Mobile Phones */
@media (min-width: 576px) {
    .weather-card__top-section {
        padding: 1rem;
        font-size: 0.8rem;
    }

    .weather-card__top-section>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 0;
    }

    .weather-card__top-section>div:nth-child(1)>* {
        text-align: center;
    }


    .weather-card__top-section>div:nth-child(1)>h2 {
        padding: 0;
        font-size: 1.2rem;
        margin: 0;
    }

    div.weather-status {
        flex-direction: row;
        align-items: center;
        margin-top: 0.5rem;
        padding: 0;
    }

    div.weather-status>img {
        height: 3.5rem;
        width: 3.5rem;
    }

    .temperature>h2 {
        font-size: 2.2rem;
        font-weight: normal;
        margin: 0;
    }

    .temperature>p {
        padding: 5px 0;
        margin: 0;
    }

    .weather-card__top-section p,
    .weather-card__top-section span {
        font-size: 0.8rem;
    }

}

/* For Tablets & Laptops */
@media (min-width: 768px) {

    .weather-card__top-section {
        padding: 0.4rem;
        font-size: 0.7rem;
    }

    .weather-card__top-section>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
    }


    .weather-card__top-section p,
    .weather-card__top-section span {
        font-size: 0.7rem;
    }

    .weather-card__top-section>div:nth-child(1)>* {
        text-align: center;
    }

    .weather-card__top-section>div:nth-child(1)>h2 {
        font-size: 1rem;
        margin: 0;
    }



    div.weather-status {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    div.weather-status>img {
        height: 3.2rem;
        width: 3.2rem;
    }


    .temperature>h2 {
        font-size: 1.6rem;
        font-weight: normal;
        margin: 0;
    }

    .temperature>p {
        padding: 3px 0;
    }

}

/* For Laptops */
@media (min-width: 992px) {
    div.weather-status {
        flex-direction: row;
        align-items: center;
        margin-top: 0.5rem;
        padding: 0;
    }
}

/* For Large screens */
@media (min-width: 1200px) {}